In [ ]:
from tflearn.data_utils import load_csv

In [1]:
import tflearn
import tensorflow as tf

curses is not supported on this machine (please install/reinstall curses for an optimal experience)

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('adult.data.txt',header=None)

In [4]:
data.columns = ['Age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','salary']

In [5]:
data.head()

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
cat_cols = ['workclass','education','marital-status','occupation','relationship','race','sex','native-country','salary']

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
for col in cat_cols:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])

In [9]:
fdata = data[['Age','workclass','fnlwgt','education','marital-status','occupation','relationship','race','sex','native-country','capital-gain','capital-loss','hours-per-week']]

In [10]:
fdata

,Age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,sex,native-country,capital-gain,capital-loss,hours-per-week
0,39,7,77516,9,4,1,1,4,1,39,2174,0,40
1,50,6,83311,9,2,4,0,4,1,39,0,0,13
2,38,4,215646,11,0,6,1,4,1,39,0,0,40
3,53,4,234721,1,2,6,0,2,1,39,0,0,40
4,28,4,338409,9,2,10,5,2,0,5,0,0,40
5,37,4,284582,12,2,4,5,4,0,39,0,0,40
6,49,4,160187,6,3,8,1,2,0,23,0,0,16
7,52,6,209642,11,2,4,0,4,1,39,0,0,45
8,31,4,45781,12,4,10,1,4,0,39,14084,0,50
9,42,4,159449,9,2,4,0,4,1,39,5178,0,40
10,37,4,280464,15,2,4,0,2,1,39,0,0,80
11,30,7,141297,9,2,10,0,1,1,19,0,0,40
12,23,4,122272,9,4,1,3,4,0,39,0,0,30
13,32,4,205019,7,4,12,1,2,1,39,0,0,50
14,40,4,121772,8,2,3,0,1,1,0,0,0,40
15,34,4,245487,5,2,14,0,0,1,26,0,0,45
16,25,6,176756,11,4,5,3,4,1,39,0,0,35
17,32,4,186824,11,4,7,4,4,1,39,0,0,40
18,38,4,28887,1,2,12,0,4,1,39,0,0,50
19,43,6,292175,12,0,4,4,4,0,39,0,0,45
20,40,4,193524,10,2,10,0,4,1,39,0,0,60
21,54,4,302146,11,5,8,4,2,0,39,0,0,20
22,35,1,76845,6,2,5,0,2,1,39,0,0,40
23,43,4,117037,1,2,14,0,4,1,39,0,2042,40
24,59,4,109015,11,0,13,4,4,0,39,0,0,40
25,56,2,216851,9,2,13,0,4,1,39,0,0,40
26,19,4,168294,11,4,3,3,4,1,39,0,0,40
27,54,0,180211,15,2,0,0,1,1,35,0,0,60
28,39,4,367260,11,0,4,1,4,1,39,0,0,80
29,49,4,193366,11,2,3,0,4,1,39,0,0,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,0,33811,9,4,0,1,1,0,39,0,0,99
32532,34,4,204461,10,2,10,0,4,1,39,0,0,60
32533,54,4,337992,9,2,4,0,1,1,24,0,0,50
32534,37,4,179137,15,0,1,4,4,0,39,0,0,39
32535,22,4,325033,2,4,11,3,2,1,39,0,0,35
32536,34,4,160216,9,4,4,1,4,0,39,0,0,55
32537,30,4,345898,11,4,3,1,2,1,39,0,0,46
32538,38,4,139180,9,0,10,4,2,0,39,15020,0,45
32539,71,0,287372,10,2,0,0,4,1,39,0,0,10
32540,45,7,252208,11,5,1,3,4,0,39,0,0,40
32541,41,0,202822,11,5,0,1,2,0,39,0,0,32
32542,72,0,129912,11,2,0,0,4,1,39,0,0,25
32543,45,2,119199,7,0,10,4,4,0,39,0,0,48
32544,31,4,199655,12,0,8,1,3,0,39,0,0,30
32545,39,2,111499,7,2,1,5,4,0,39,0,0,20
32546,37,4,198216,7,0,13,1,4,0,39,0,0,40
32547,43,4,260761,11,2,7,0,4,1,26,0,0,40
32548,65,6,99359,14,4,10,1,4,1,39,1086,0,60
32549,43,7,255835,15,0,1,2,4,0,39,0,0,40
32550,43,6,27242,15,2,3,0,4,1,39,0,0,50
32551,32,4,34066,0,2,6,0,0,1,39,0,0,40
32552,43,4,84661,8,2,12,0,4,1,39,0,0,45
32553,32,4,116138,12,4,13,1,1,1,36,0,0,11
32554,53,4,321865,12,2,4,0,4,1,39,0,0,40
32555,22,4,310152,15,4,11,1,4,1,39,0,0,40
32556,27,4,257302,7,2,13,5,4,0,39,0,0,38
32557,40,4,154374,11,2,7,0,4,1,39,0,0,40
32558,58,4,151910,11,6,1,4,4,0,39,0,0,40
32559,22,4,201490,11,4,1,3,4,1,39,0,0,20
32560,52,5,287927,11,2,4,5,4,0,39,15024,0,40

In [11]:
def build_model():
    tf.reset_default_graph()
    
    #Inputs
    net = tflearn.input_data([None, fdata.shape[1]])
    
    #Hidden layers
    net = tflearn.fully_connected(net, 32, activation='ReLU')
    net = tflearn.fully_connected(net, 16, activation='ReLU')
    
    #Output Layer & training model
    #activation for output layer is softmax
    #
    net = tflearn.fully_connected(net,2, activation='softmax')
    net = tflearn.regression(net, optimizer='sgd', learning_rate=0.01, loss='categorical_crossentropy')
    
    model = tflearn.DNN(net)
    return model

In [12]:
model = build_model()

In [13]:
data['salary'][:,np.newaxis]

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [1]], dtype=int64)

In [ ]:
model.fit(fdata,data['salary'], validation_set=0.1, show_metric=True, batch_size=100, n_epoch=100)